.Aboutus{
    width:100vw;
    height:70vh;
}
.ImageSection{
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
width:50vw;
height: 70vh;
}
.VideoSection{
    width:50vw;
    height: 70vh;
}
.head{
    width:180px;
    height:200px;
  }